// 头部
.header {
  display flex;
  align-items center;
  justify-content space-between;
  padding 12px 16px;
  box-sizing border-box;
  background-color #0d5afe;
  .header-logo {
    display block
    width 117px;
    height 54px;
  }
}
// 导航菜单
.navigation {
  position fixed;
  top 0;
  left 0;
  bottom 0;
  right 0;
  z-index 10;
  padding 31px 31px 31px 40px;
  background-color rgba(13, 90, 254, .9);
  box-sizing border-box;
  .navigation-menu {
    position absolute;
    right 36px;
    top 25px;
    margin 0;
    > div {
      width 32px;
      background-color #f3f3f3
      &:nth-child(1) {
        top 12px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        top 1px;
        transform: rotate(-45deg);
      }
    }
  }
  .navigation-links {
    margin 38px 0 36px 0;
    >li {
      margin-bottom 29px;
      &:last-child {
        margin-bottom 0;  
      }
      a {
        position relative;
        font-size 24px;
        font-weight 500;
        color #f3f3f3;
        line-height 33px;
      }
      a.navigation-links-active {
          &::after {
            content "";
            position absolute;
            bottom -5px;
            right 0;
            left 0;
            width 30%;
            margin auto;
            border-bottom 2px solid #f3f3f3;
            border-radius 2px;
          }
      }
    }
  }
  .navigation-operation {
    img {
      width 24px;
      height 24px;
      &:nth-child(2) {
        margin: 0 50px;
      }
    }
  }
}
// 不让滚动条滚动
.not_scroll { 
  position fixed; 
  overflow-y scroll;
}