.page-home {
  width 100%;
  height 100%;
  .module-header {
    width 100%;
    background-color #0D5AFE;
    // 头部
    .header {
      display flex;
      align-items center;
      justify-content space-between;
      width 100%;
      padding 12px 16px;
      box-sizing border-box;
      .header-logo {
        display block
        width 117px;
        height 54px;
      }
    }
    // 线条
    > .line {
      width: 64px;
      height: 1px;
      margin auto;
      background-color: #fff;
    }
    // 小程序创意动画
    .animation {
      padding 0 32px;
      text-align center;
      color #ffffff;
      .animation-module {
        .animation-module-title {
          margin-top 30px;
          font-weight inherit;
          font-size 28px;
          font-family PingFangSC-Medium, sans-serif;
        }
        .animation-module-text{
          margin-top 16px;
          font-size 20px;
          font-family PingFangSC-Regular, sans-serif;
        }
        .animation-module-go {
          width 120px;
          height 36px;
          margin-top 16px;
          border 1px solid #ffffff;
          color #ffffff;
          outline none;
          background-color transparent;
        }  
      }
      .animation-little {
        position relative;
        left 3px;
        width auto;
        height 277px;
        margin 29px auto 0;
      }
    }
    // 小程序创意动画类别
    .program-category {
      position relative;
      bottom 20px;
      display flex;
      flex-wrap wrap;
      justify-content space-between;
      padding 0 16px;
      .program-category-item {
        width 180px;
        height 190px;
        padding 16px;
        box-sizing border-box;
        background-color #fff;
        > img {
          display block;
          width 48px;
          height: 50px;
        }
        > h4 {
          width: 73px;
          margin-top 8px;
          font-size: 18px;
          font-family PingFangSC-Regular, PingFang SC;
          font-weight 400;
          color #333333;
          line-height 25px;
          &::after {
            content "";
            display block;
            width 48px;
            height 1px;
            background-color #0D5AFE;
            margin-top  4px;
          }
        }
        > p {
          font-size 16px;
          font-family PingFangSC-Regular, PingFang SC;
          font-weight 400;
          color #777777;
          line-height 22px;
          margin-top 7px;
        }
        &:nth-child(1) {
          margin-bottom 17px;
        }
      }
    }
  }
}
// 头部导航
.header-menu {
  display flex;
  flex-flow column;
  justify-content space-between;
  width 24px;
  height 15px;
  margin-right 16px;
  div {
    position relative;
    width 100%;
    height 3px;
    background-color #fff;
    border-radius 5px;
  }
}
// 导航菜单
.navigation {
  position fixed;
  top 0;
  left 0;
  bottom 0;
  right 0;
  width 100%;
  height 100%;
  padding 31px 31px 31px 40px;
  background-color rgba(13, 90, 254, .9);
  box-sizing border-box;
  .navigation-menu {
    position absolute;
    right 36px;
    top 25px;
    margin 0;
    div {
      width 32px;
      background-color #f3f3f3
      &:nth-child(1) {
        top 12px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        top 1px;
        transform: rotate(-45deg);
      }
    }
  }
  .navigation-links {
    margin 38px 0 36px 0;
    >li {
      margin-bottom 29px;
      a {
        position relative;
        font-size 24px;
        font-family PingFangSC-Medium, PingFang SC;
        font-weight 500;
        color #f3f3f3;
        line-height 33px;
      }
      a.navigation-links-active {
          &::after {
            content "";
            position absolute;
            bottom -5px;
            right 0;
            left 0;
            width 30%;
            margin auto;
            border-bottom 2px solid #f3f3f3;
            border-radius 2px;
          }
      }
      &:last-child {
        margin-bottom 0;  
      }
    }
  }
  .navigation-operation {
    img {
      width 24px;
      height 24px;
      &:nth-child(2) {
        margin: 0 50px;
      }
    }
  }
}
// 不让滚动条滚动
.not_scroll { 
  position fixed; 
  overflow-y scroll;
}