.tec-main
  padding 60px 0
        
  .tec-content
    padding 0 16px
    max-width 1200px
    margin 0 auto

    .list
      text-align: center
      position: relative
      cursor: pointer
      margin-bottom 20px

      &:last-child
        margin-bottom 0
      
      .list-img
        display block
        width: 100%;
        height: auto
      
      .list-bar
        margin: -24px auto 0
        width: 230px
        background: #F9FBFF
        font-size 18px
        border-radius: 4px
        line-height: 48px
        
      .list-mark
        width: 100%
        height: 100%
        background: #0034A2
        opacity: 0.3
        display flex
        position: absolute
        top: 0
        left: 0
        right: 0
        opacity: 0
        visibility hidden

        .list-icon-img
          margin: auto
          
      
      &:hover
        .list-mark
          opacity: 0.4
          visibility visible
          transition: all 0.5s ease
     

// 宽度大于768px时
@media  (min-width 768px)  
  .tec-main
    .tec-content
      display: flex
      justify-content: space-between

      .list
        width: 240px;

// 屏幕尺寸大于1024时
@media  (min-width 1024px)  
  .tec-main
    .tec-content
      padding 0 32px
      .list
        width: 300px;
        .list-bar
          width: 266px;

// 屏幕尺寸大于1200时
@media  (min-width 1200px)  
  .tec-main
    .tec-content
      padding 0
      .list
        width 380px