.header-main {
  width: 1200px;
  padding: 33px 0 0;
  margin: 0 auto;
}
.logo {
  display: block;
  width: 241px;
  height: 68px;
  background: url(../img/logo-white@2x.png) no-repeat;
  background-size: contain;
}

.feature-1 {
  height: 1037px;
}

.footer {
  height: 300px;
  background: #fff;
}