
.page-home #root {
  background: #fff url(../img/page-bg.jpg) no-repeat center top;
  background-size: auto 100vh;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

/* IE 11兼容 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-home #root {
    display: block;
  }
}

.header-main {
  max-width: 1200px;
  padding: 30px 16px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-main .logo {
  display: block;
  width: 120px;
  height: 34px;
  background: url(../img/logo-white@2x.png) no-repeat;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
}

.header-main .main-nav a {
  font-size: 16px;
  line-height: 1.33;
  color: #fff;
}

.header-main .main-nav a + a {
  margin-left: 26px;
}

.header-main .main-nav a:hover {
  color: #0000C2;
}



.page-home .page-wrap {
  flex: 1;
}

.page-home .page-main {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.page-home .hiface-wrap {
  padding: 0 0 40px;
  text-align: center;
  /* display: flex; */
}

.page-home .hiface-wrap .hiface-logo {
  width: 300px;
  margin: 0 auto 15px;
  height: auto;
}

.page-home .hiface-wrap .hiface-logo img {
  display: block;
  width: 100%;
  height: auto;
}


.page-home .hiface-wrap h2 {
  font-size: 36px;
  color:#fff;
  line-height:1.33;
  margin-bottom: 15px;
}
.page-home .hiface-wrap p {
  font-size:16px;
  color:#fff;
  line-height:1.33;
  margin-bottom: 30px;
}


.page-home .hiface-wrap .button-try,
.page-home .hiface-wrap .button-github {
  display: inline-block;
  line-height: 36px;
  text-align: center;
  color: #fff;
  border-radius:30px;
  font-size: 14px;
  width: 48%;
}

.page-home .hiface-wrap .button-try {
  position: relative;
  background:linear-gradient(70deg,rgba(5,177,189,1) 0%,rgba(37,210,147,1) 100%);
  cursor: pointer;
}

.page-home .hiface-wrap .button-github {
  margin-left: 2%;
  box-shadow: inset 0 0 0 1px #177DCA;
}


.page-home .hiface-wrap .qrcode-mask {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 10px;
}

.page-home .hiface-wrap .qrcode-mask-inner {
  width: 180px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}

.page-home .hiface-wrap .qrcode-mask img {
  display: block;
  width: 100%;
  height: auto;
}

.page-home .hiface-wrap .button-try:hover .qrcode-mask {
  display: block;
}

.footer {
  background: #fff;
}

.footer-main {
  padding: 30px 16px;
}

.footer-main .footer-logo {
  display: block;
  width: 120px;
  height: 35px;
  background: url(../img/logo-blue@2x.png) no-repeat;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
}


.footer-main .footer-links dl {
  padding-left: 30px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.footer-main .footer-links dt {
  width: 100%;
  font-size: 16px;
  line-height: 1.33;
  color: #000;
  text-indent: -32px;
  margin-bottom: 10px;
}

.footer-main .footer-links dt > img {
  display: inline-block;
  width: auto;
  height: 20px;
  vertical-align: middle;
  margin: -3px 10px 0 0;
}

.footer-main .footer-links dd {
  margin-right: 10px;
}
.footer-main .footer-links dd a {
  font-size: 12px;
  line-height: 1.33;
  color: #000;
}

.footer-main .footer-links dd a:hover {
  color: #0000C2;
}



@media (min-width: 1024px) {
  .header-main {
    padding-left: 0;
    padding-right: 0;
  }

  .header-main .logo {
    width: 241px;
    height: 68px;
  }

  .header-main .main-nav a {
    font-size: 24px;
  }

  .header-main .main-nav a + a {
    margin-left: 52px;
  }
}

@media (min-width: 1024px) {
  .footer-main {
    max-width: 1200px;
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }


  .footer-main .footer-logo {
    width: 241px;
    height: 68px;
  }
  .footer-main .footer-links {
    display: flex;
  }

  .footer-main .footer-links dl {
    margin-top: 0;
    padding-left: 40px;
    display: block;
    flex-wrap: nowrap;
  }
  .footer-main .footer-links dl + dl {
    margin-left: 60px;
  }

  .footer-main .footer-links dt {
    font-size: 24px;
    text-indent: -40px;
  }

  .footer-main .footer-links dt > img {
    height: 30px;
  }

  .footer-main .footer-links dt + dd {
    margin-top: 40px;
  }

  .footer-main .footer-links dd {
    margin-top: 20px;
  }

  .footer-main .footer-links dd a {
    font-size: 18px;
  }

}

@media (min-width: 640px) {
  .page-home #root {
    background-size: 1000px auto;
  }
}
@media (min-width: 1024px) {
  .page-home #root {
    background-size: 1680px auto;
  }

  .page-home .hiface-wrap {
    padding: 120px 0 570px;
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .page-home .hiface-wrap .hiface-logo {
    margin: -65px 0 20px;
    width: 350px;
  }

  .page-home .hiface-wrap h2 {
    font-size: 72px;
    margin-bottom: 30px;
  }

  .page-home .hiface-wrap p {
    font-size: 36px;
    margin-bottom: 60px;
  }

  .page-home .hiface-wrap .button-try,
  .page-home .hiface-wrap .button-github {
    display: inline-block;
    width: 200px;
    line-height: 60px;
    color: #fff;
    border-radius:30px;
    font-size: 24px;
  }

  .page-home .hiface-wrap .button-github {
    margin-left: 48px;
  }
}


