
.page-home #root {
  background: url(../img/page-bg.jpg) no-repeat center top;
  background-size: 1600px auto;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* IE 11兼容 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-home #root {
    display: block;
  }
}

.header-main {
  width: 1200px;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block;
  width: 241px;
  height: 68px;
  background: url(../img/logo-white@2x.png) no-repeat;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
}

.main-nav a {
  font-size: 24px;
  line-height: 1.33;
  color: #fff;
}

.main-nav a + a {
  margin-left: 52px;
}

.main-nav a:hover {
  color: #0000C2;
}



.feature-1 {
  flex: 1;
}


.footer {
  background: #fff;
}

.footer-main {
  width: 1200px;
  padding: 70px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-main .footer-logo {
  display: block;
  width: 241px;
  height: 68px;
  background: url(../img/logo-blue@2x.png) no-repeat;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
}

.footer-links {
  display: flex;
}

.footer-links dl {
  margin-left: 60px;
}

.footer-links dl {
  padding-left: 40px;
}

.footer-links dl:first-child {
  margin-left: 0;
}

.footer-links dt {
  font-size: 24px;
  line-height: 1.33;
  color: #000;
  text-indent: -40px;
}

.footer-links dt > img {
  display: inline-block;
  width: auto;
  height: 30px;
  vertical-align: middle;
  margin: -3px 10px 0 0;
}

.footer-links dt + dd {
  margin-top: 40px;
}

.footer-links dd {
  margin-top: 20px;
}
.footer-links dd a {
  font-size: 18px;
  line-height: 1.33;
  color: #000;
}

.footer-links dd a:hover {
  color: #0000C2;
}