.footer {
  background-color #F9FBFF;
  padding 25px;
  box-sizing border-box;
  > .footer-logo {
    display block;
    width 145px;
    height 62px;
    img {
      width 100%;
      height 100%;
    }
  }
  > .footer-thank {
    font-size: 16px;
    color: #333333;
    line-height: 22px;
    margin: 13px 0 20px;
  }
  > .footer-links {
    .footer-links-item {
      margin-bottom 20px;
      &:last-child {
        margin-bottom 0;
      }
      dd {
        display inline-block;
        > p, > span {
          display inline-block;
        }
        > p {
          font-size: 16px;
          font-weight: 500;
          color: #0D5AFE;
          line-height: 22px;
          margin-right 10px;
        }
        > span {
          margin-right 8px;
          font-size: 12px;
          color: #333333;
          line-height: 17px;
        }
      }
    }
  }
}
