.footer {
  width 100%;
  background-color #F9FBFF;
  padding 25px;
  box-sizing border-box;
  > .logo {
    display block;
    width 145px;
    height 62px;
  }
  > .thank {
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 22px;
    margin-top 13px;
    margin-bottom 20px;
  }
  > .links {
    .links-item {
      margin-bottom 20px;
      > p, > span {
        display inline-block;
      }
      > p {
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #0D5AFE;
        line-height: 22px;
        margin-right 10px;
      }
      > span {
        margin-right 8px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
        line-height: 17px;
        &:last-child {
          margin-right 0;
        }
      }
      &:last-child {
        margin-bottom 0;
      }
    }
  }
}
