.module-title
  position relative
  font-family PingFangSC-Semibold, PingFang SC
  font-weight 600
  color #F3F7FF
  font-size 56px
  line-height 78px
  text-align center

  .block-text
    position absolute
    bottom 3px
    left 50%
    height 45px
    font-size 32px
    font-weight 600
    color #333
    line-height 45px
    transform translateX(-50%)

    span:nth-of-type(2)
      color #0D5AFE