.module-title
  text-align center
  line-height 1.4
  margin-bottom 50px
  h3
    color var(--color-title-light)
    font-size 38px

    @media (min-width 768px)
      font-size 56px

  h2
    margin-top -40px
    font-size 32px
    color var(--color-title)

    > strong
      color #0D5AFE