.blog-hero-post
  background-color var(--color-module-bar) 
.blog-hero-main
  background url('https://image-hosting.xiaoxili.com/img/img/20210415/f826bcdfe3c123980af70c522a88a3a8-56d197.png') no-repeat right bottom
  background-size 100% auto
  padding 16px 16px 50%
  
  

  h2
    font-size 28px
    color var(--color-title)
  h3
    font-size 16px
    color var(--color-title)
  
  .read-more
    margin-top 30px
    background-color transparent
    text-align center
    width: 160px;
    line-height: 48px;
    border: 1px solid var(--color-primary)
    color var(--color-primary)

.blog-module
  padding-top 24px
.blog-cateries
.blog-tags-cloud
  display flex
  flex-wrap wrap
  justify-content center

  li
    margin 0 8px 10px

    a
      display block
      padding 0 10px
      line-height 1.8


.blog-posts
  padding-bottom 32px
  > li
    margin 16px
  h3
    margin-bottom 8px
    font-size 22px
    color var(--color-title)
  .tag-list
    margin 0 -8px 8px
    span
      display inline-block
      margin 0 8px 4px
      padding 0 10px
      line-height 1.8
      font-size 12px
  p
    color var(--color-text)
    font-size 14px
  
  .read-more
    margin-top 12px
    background-color transparent
    text-align center
    width: 80px;
    line-height: 28px;
    font-size 12px
    border: 1px solid var(--color-primary)
    color var(--color-primary)


// 移动端横屏
@media (min-width 768px)
  .blog-hero-main
    background-size 899px auto
    padding 16px 16px 50%


    h2
      font-size 56px
    h3
      font-size 32px
// 移动端横屏
@media (min-width 1024px)
  .blog-module
    padding-top 48px
  .blog-hero-main
    background-size 899px auto
    background-position right center
    padding 32px 32px
    height 463px
    display flex
    align-items center
  
    h2
    h3
      width 56%

  .blog-posts
    padding-bottom 64px
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 32px;

    > li
      margin 0

@media (min-width 1200px)
    
  .blog-hero-main
    padding 32px 0
    width 1200px
    margin 0 auto
  .blog-posts
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 64px;
