.title {
		 display:flex
     justify-content: center
     align-item: center
     flex-direction: column
     text-align: center
     font-family: PingFangSC-Semibold, PingFang SC
     font-weight: 600
     padding-bottom: 54px
		 .en-title {
				color: #F3F7FF
		 }
		 .cn-title {
			    font-size: 32px
					color: #333
          line-height: 45px
          margin-top: -45px
          span {
						color: #0D5AFE
					} 
            
		 }        
          
	}  