.home-introduction
  overflow hidden
  // 个人简绍 标题
  .introduction-header
    margin-bottom 10px
    margin-top 60px
    text-align center
    > h2
      font-size 38px
      font-weight 600
      color #F3F7FF
      letter-spacing 2px
    > h3
      font-size 32px
      font-weight normal
      transform translateY(-30px) translateX(-10px)
      letter-spacing 4px
      span:first-child
        color #353535
      span:last-child
        color #125EFE
  // 个人简绍 描述
  .desc
    .desc-bitmap
      display block
      width 100%
      height auto
      outline none
    .desc-content
      overflow hidden
      padding 0 16px
      color #333333
      text-align right
      > h3
        margin 40px 0 20px 0
        text-align center
        font-size 24px
        font-weight normal
        letter-spacing 1px
      > p
        text-align initial
        line-height 22px
        font-size 16px
        letter-spacing 2px
      .desc-content-more
        width 96px
        height 32px
        margin 10px 0 17px 0
        background-color #0D5AFE
        font-size 16px
        color #FFFFFF
        outline none
        border none
        cursor pointer
  // 个人简绍 特色
  .feature
    display flex
    flex-wrap wrap
    margin-bottom 72px
    .feature-item
      width 33%
      text-align center
      &:nth-child(1), &:nth-child(2), &:nth-child(3)
        margin-bottom 21px
      >img
        display block
        outline none
        margin auto
      >h3
        font-size 36px
        font-weight normal
        color #333333
      >p
        font-size 14px
        font-weight normal
        color #777777

@media (min-width 768px)
  .home-introduction
    padding 0 15px
    .introduction-header
      margin-top 60px
      >h2
        font-size 56px
      >h3
        letter-spacing 3px
        transform translateY(-40px)
     .desc
       display flex
       min-height 232px
       .desc-bitmap, .desc-content
         width: 50%;
       .desc-content
         padding 0 0 0 16px
         >h3
           margin  0 0 20px 0
           text-align left
         .desc-content-more
           margin 20px 0 0 0
     .feature
       justify-content space-between
       margin 47px 0 61px 0
       .feature-item
         width auto
         &:nth-child(1), &:nth-child(2), &:nth-child(3)
          margin-bottom 0

@media (min-width 1024px)
  .home-introduction
    padding 0 32px
    .desc
      min-height 303px
      .desc-content
        padding-left 32px
        .desc-content-group
          width 32px
          height 15px
          background url("/images/group.png") no-repeat 100%
          margin 32px 0
          cursor pointer
    .feature
        margin-bottom 105px

@media (min-width 1440px)
    .home-introduction
      padding 0
      max-width 1200px
      margin auto
      .desc
        .desc-content
          padding-left 60px
          .desc-content-group
            margin 29px 0 20px 0
          .desc-content-more
            margin-top 30px